@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: '#000000';
  --background-color: '#FFFFFF';
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: '#FFFFFF';
    --background-color: '#000000';
  }
}

body {
  color: rgb(var(--font-color));
  background: rgb(var(--background-color));
}
